/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  }
  .marketing{
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .marke{
    padding-left: 40px;
  }
  #izqui{
    background-image: url("../fotos/izq.jpg");
    background-size: contain;
    background-repeat: repeat-y;
  }
  #derec{
    background-image: url("../fotos/der.jpg");
    background-size: contain;
    background-repeat: repeat-y;
  }
  #izq{
    background-image: url("../fotos/izq.jpg");
    background-size: cover;
    background-repeat: repeat-y;
  }
  #der{
    background-image: url("../fotos/der.jpg");
    background-size: cover;
    background-repeat: repeat-y;
  }
#foto_pricipal{
  height: 416px;
  width: 100%;
  background-image: url("../fotos/fotoprincipal.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  margin-bottom: 15px;
}
.titulo{
  color: #a3d9d1;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-style: solid;
  border-color: #a3d9d1;
  margin-bottom: 30px;
}
.descrip {
  height: 46px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}
.cabeza{
  margin-bottom: 13px;
}
.barra{
  background: #a3d9d1;
}
.foto{
  margin-bottom: 10px;
}
.boton{
  background: #a3d9d1;
  border-color: #a3d9d1;
}
#fab i{
  color: white;
  font-size: 2rem;
}
.pago{
margin-bottom: 30px;
}
.footer{
  padding-top: 15px;
}
.preguntas{
  padding-top: 50px;
}
.saludos{
  color: #a3d9d1;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-color: #a3d9d1;
}
.como_comprar{
  color: #a3d9d1;
}
.pf{
  margin-bottom: 15px;
  text-align: left;
}
.datos{
  font-size: 1.2rem;
}
.localizador{
  color: #a3d9d1;
  font-size: 2rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
